In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
arr1 = np.arange(9).reshape(3,3)

In [3]:
arr2 = np.arange(9).reshape(3,3)

In [5]:
np.concatenate([arr1,arr2],axis=1)#连接方法

array([[0, 1, 2, 0, 1, 2],
       [3, 4, 5, 3, 4, 5],
       [6, 7, 8, 6, 7, 8]])

In [6]:
s1 = Series([1,2,3], index=['X','Y','Z'])

In [8]:
s2 = Series([4,5], index=['A','B'])

In [10]:
pd.concat([s2,s1],axis=1)

     0    1
A  4.0  NaN
B  5.0  NaN
X  NaN  1.0
Y  NaN  2.0
Z  NaN  3.0

In [11]:
df1 = DataFrame(np.random.rand(4,3), columns=['X','Y','Z'])

In [12]:
df2 = DataFrame(np.random.rand(3,3), columns=['X','Y','A'])

In [13]:
pd.concat([df1,df2])

          X         Y         Z         A
0  0.197117  0.347116  0.716982       NaN
1  0.260802  0.294039  0.073071       NaN
2  0.232746  0.312984  0.467445       NaN
3  0.381520  0.117958  0.427766       NaN
0  0.301267  0.071989       NaN  0.415266
1  0.903215  0.533230       NaN  0.526135
2  0.914209  0.975001       NaN  0.164587