In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [9]:
# 创建 
df1 = DataFrame({"城市":["北京","上海","广州"],"人口":[1000,2000,1500]})

In [4]:
df1

   城市    人口
0  北京  1000
1  上海  2000
2  广州  1500

In [5]:
df1["GDP"] = Series([1,2,3])

In [6]:
df1

   城市    人口  GDP
0  北京  1000    1
1  上海  2000    2
2  广州  1500    3

In [13]:
gdp_map = {"北京":1000, "上海":2000, "广州":1500}# 无需关心index 用Series添加数据需要关心index

In [10]:
df1

   城市    人口
0  北京  1000
1  上海  2000
2  广州  1500

In [11]:
df1['GDP'] = df1['城市'].map(gdp_map)

In [12]:
df1

   城市    人口   GDP
0  北京  1000  1000
1  上海  2000  2000
2  广州  1500  1500

In [14]:
s1 = Series(np.arange(10))

In [15]:
s1

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32

In [16]:
s1.replace(1, np.nan)

0    0.0
1    NaN
2    2.0
3    3.0
4    4.0
5    5.0
6    6.0
7    7.0
8    8.0
9    9.0
dtype: float64

In [17]:
s1.replace([1,2,3], [10,20,30])

0     0
1    10
2    20
3    30
4     4
5     5
6     6
7     7
8     8
9     9
dtype: int64