In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [4]:
s1 = Series([1,2,3,4], index=['A','B','C','D'])#添加Series

In [5]:
s1.reindex(index=['A','B','C','D','E'])# 利用reindex更改索引

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
dtype: float64

In [6]:
s1.reindex(index=['A','B','C','D','E'], fill_value=10)# 填充数据

A     1
B     2
C     3
D     4
E    10
dtype: int64

In [11]:
s2 = Series(['A','B','C'], index=[1,5,10])

In [14]:
s2.reindex(index=range(15))

0     NaN
1       A
2     NaN
3     NaN
4     NaN
5       B
6     NaN
7     NaN
8     NaN
9     NaN
10      C
11    NaN
12    NaN
13    NaN
14    NaN
dtype: object

In [15]:
s2.reindex(index=range(15), method='ffill')# 填充数据

0     NaN
1       A
2       A
3       A
4       A
5       B
6       B
7       B
8       B
9       B
10      C
11      C
12      C
13      C
14      C
dtype: object

In [26]:
df1 = DataFrame(np.random.rand(25).reshape([5,5]),index=['A','B','D','E','F'], columns=['c1','c2','c3','c4','c5'])

In [28]:
df1.reindex(index=['A','B','C','D','E','F'])

         c1        c2        c3        c4        c5
A  0.277696  0.384604  0.453887  0.238608  0.156771
B  0.118221  0.924559  0.339854  0.570940  0.274046
C       NaN       NaN       NaN       NaN       NaN
D  0.106429  0.797250  0.291160  0.883435  0.665953
E  0.888210  0.326224  0.802597  0.879170  0.903715
F  0.720180  0.165509  0.397361  0.545626  0.549013

In [29]:
df1.reindex(columns=['c1','c2','c3','c4','c5','c6'])

         c1        c2        c3        c4        c5  c6
A  0.277696  0.384604  0.453887  0.238608  0.156771 NaN
B  0.118221  0.924559  0.339854  0.570940  0.274046 NaN
D  0.106429  0.797250  0.291160  0.883435  0.665953 NaN
E  0.888210  0.326224  0.802597  0.879170  0.903715 NaN
F  0.720180  0.165509  0.397361  0.545626  0.549013 NaN

In [30]:
df1

         c1        c2        c3        c4        c5
A  0.277696  0.384604  0.453887  0.238608  0.156771
B  0.118221  0.924559  0.339854  0.570940  0.274046
D  0.106429  0.797250  0.291160  0.883435  0.665953
E  0.888210  0.326224  0.802597  0.879170  0.903715
F  0.720180  0.165509  0.397361  0.545626  0.549013

In [31]:
df1.drop('A', axis=0)# 删除行与列

         c1        c2        c3        c4        c5
B  0.118221  0.924559  0.339854  0.570940  0.274046
D  0.106429  0.797250  0.291160  0.883435  0.665953
E  0.888210  0.326224  0.802597  0.879170  0.903715
F  0.720180  0.165509  0.397361  0.545626  0.549013