In [4]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [6]:
data = {'Country':['Belgium', 'India', 'Brazil'],
       'Capital':['Brussels', 'New Delhi', 'brasilia'],
       'Population':[11156465, 65456413, 2342522]}

In [13]:
s1 = pd.Series(data['Country'], index=['A', 'B', 'C'])

In [14]:
s1

A    Belgium
B      India
C     Brazil
dtype: object

In [15]:
df1 = pd.DataFrame(data)

In [16]:
df1

   Country    Capital  Population
0  Belgium   Brussels    11156465
1    India  New Delhi    65456413
2   Brazil   brasilia     2342522

In [17]:
df1['Country']

0    Belgium
1      India
2     Brazil
Name: Country, dtype: object

In [18]:
df1.iterrows()

In [19]:
for row in df1.iterrows():
    print(row), print(type(row))

(0, Country        Belgium
Capital       Brussels
Population    11156465
Name: 0, dtype: object)
<class 'tuple'>
(1, Country           India
Capital       New Delhi
Population     65456413
Name: 1, dtype: object)
<class 'tuple'>
(2, Country         Brazil
Capital       brasilia
Population     2342522
Name: 2, dtype: object)
<class 'tuple'>

In [20]:
data

{'Country': ['Belgium', 'India', 'Brazil'],
 'Capital': ['Brussels', 'New Delhi', 'brasilia'],
 'Population': [11156465, 65456413, 2342522]}