In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
s1 = Series(np.random.randn(10))

In [4]:
s1.values

array([-0.47289334, -0.34062854, -1.01925025, -0.65557889, -0.72627823,
       -0.02314329,  1.38521844, -1.31371664, -0.4861429 , -0.23499866])

In [5]:
s1.index

RangeIndex(start=0, stop=10, step=1)

In [10]:
s2 = s1.sort_values(ascending=False)#降序

In [11]:
s2

6    1.385218
5   -0.023143
9   -0.234999
1   -0.340629
0   -0.472893
8   -0.486143
3   -0.655579
4   -0.726278
2   -1.019250
7   -1.313717
dtype: float64

In [12]:
s2.sort_index()

0   -0.472893
1   -0.340629
2   -1.019250
3   -0.655579
4   -0.726278
5   -0.023143
6    1.385218
7   -1.313717
8   -0.486143
9   -0.234999
dtype: float64

In [13]:
df1 = DataFrame(np.random.randn(40).reshape(8,5), columns=['A','B', 'C', 'D', 'E'])

In [14]:
df1

          A         B         C         D         E
0  0.421007 -1.980281  2.580532 -1.795659  0.288803
1 -0.068835 -1.904696  0.278101 -1.486063 -0.233512
2 -1.928288 -0.623859  0.506582 -0.852060  0.552435
3  2.076780 -0.207687  0.569810 -1.023417 -1.129966
4 -1.247494 -0.056285 -1.918047 -2.540550 -0.601762
5  1.791862  0.354676  0.848059 -1.506133  0.194513
6 -0.691315  0.695398  0.013998  0.995504 -0.548791
7 -0.057494  0.228623  0.310669 -1.016313  1.160186

In [16]:
df1['A'].sort_values()

2   -1.928288
4   -1.247494
6   -0.691315
1   -0.068835
7   -0.057494
0    0.421007
5    1.791862
3    2.076780
Name: A, dtype: float64

In [22]:
df2 = df1.sort_values('A')#按A进行排序

In [23]:
df2.sort_index()

          A         B         C         D         E
0  0.421007 -1.980281  2.580532 -1.795659  0.288803
1 -0.068835 -1.904696  0.278101 -1.486063 -0.233512
2 -1.928288 -0.623859  0.506582 -0.852060  0.552435
3  2.076780 -0.207687  0.569810 -1.023417 -1.129966
4 -1.247494 -0.056285 -1.918047 -2.540550 -0.601762
5  1.791862  0.354676  0.848059 -1.506133  0.194513
6 -0.691315  0.695398  0.013998  0.995504 -0.548791
7 -0.057494  0.228623  0.310669 -1.016313  1.160186

In [24]:
df1

          A         B         C         D         E
0  0.421007 -1.980281  2.580532 -1.795659  0.288803
1 -0.068835 -1.904696  0.278101 -1.486063 -0.233512
2 -1.928288 -0.623859  0.506582 -0.852060  0.552435
3  2.076780 -0.207687  0.569810 -1.023417 -1.129966
4 -1.247494 -0.056285 -1.918047 -2.540550 -0.601762
5  1.791862  0.354676  0.848059 -1.506133  0.194513
6 -0.691315  0.695398  0.013998  0.995504 -0.548791
7 -0.057494  0.228623  0.310669 -1.016313  1.160186