In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [5]:
score_list = np.random.randint(25,100,size=20)

In [6]:
score_list

array([54, 85, 76, 62, 89, 97, 99, 51, 71, 40, 69, 58, 70, 82, 32, 55, 29,
       46, 85, 47])

In [7]:
bins = [0, 59,70,80,100]

In [13]:
score_cat = pd.cut(score_list, bins)

In [14]:
pd.value_counts(score_cat)

(0, 59]      9
(80, 100]    6
(59, 70]     3
(70, 80]     2
dtype: int64

In [15]:
df1 = DataFrame()

In [17]:
df1['score'] = score_list

In [19]:
df1['student'] = [pd.util.testing.rands(3) for i in range(20)]

In [24]:
df1['Categories'] = pd.cut(df1['score'], bins, labels = ['Low','OK','GOod','Great'])

In [25]:
df1

    score student Categories
0      54     ciB        Low
1      85     7n4      Great
2      76     T1f       GOod
3      62     ZmW         OK
4      89     cLi      Great
5      97     zoG      Great
6      99     Csw      Great
7      51     vod        Low
8      71     218       GOod
9      40     Ujk        Low
10     69     Snd         OK
11     58     t39        Low
12     70     oNZ         OK
13     82     r29      Great
14     32     f9Z        Low
15     55     KHs        Low
16     29     XsT        Low
17     46     u8r        Low
18     85     j24      Great
19     47     45e        Low